body,
html {
  /* text-rendering: The browser emphasizes legibility over rendering speed and geometric precision. This enables kerning and optional ligatures. */
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  /* width: 100% !important; */
  height: 100% !important;
}

.docParent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

/* ----------------------------------------------- */
/* header */

.centerWrapper {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerDarkBackground {
  background-color: black;
  grid-column: 1 / 4;
}

.paddingThreeRem {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@font-face {
  font-family: Potra;
  src: url(Potra-E0Ye.ttf);
}

header .neon-text {
  text-align: center;
  font-family: Potra;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  background: -webkit-linear-gradient(left, fuchsia, white, rgb(34, 153, 233));
  background: -moz-linear-gradient(left, fuchsia, white, rgb(34, 153, 233));
  background: -ms-linear-gradient(left, fuchsia, white, rgb(34, 153, 233));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* ------------------------------------------------------ */
/* nav */

.nav {
  background-color: white;
  color: #777;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul.nav li {
  display: inline-block;
  text-transform: uppercase;
  color: #777;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* ------------------------------------------------ */
/* left sidebar */

.leftSidebarDarkBackground {
  grid-column: 1 / 2;
  height: 40rem;
  width: 15rem;
  background-image: url(./img/pink-paint-back-left/pink-paint-spatter.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.styledTextPotraWhite {
  text-align: center;
  font-family: Potra;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
}

/* ----------------------------------------------- */
/* main */

.darkImgBackground {
  grid-column: 2 / 3;
  background-image: url(img/main-black-back/dark-brickback-2.jpg);
  background-size: cover;
}

.whiteDubBorder {
  border: double;
  border-width: 1rem;
  /* border-radius: 100%; */
}

.styledTextGradient {
  text-align: center;
  font-family: Potra;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  color: white;
}
/* ----------------------------------------------- */
/* right sidebar */

.rightSidebarDarkBackground {
  grid-column: 3 / 4;
  height: 40rem;
  width: 15rem;
  background-image: url(./img/blue-paint-back-right/blue-paint-spatter.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* ----------------------------------------------- */
/* footer */

.footererDarkBackground {
  height: 5rem;
  width: 100%;
  grid-column: 1 / 4;
  background: -webkit-linear-gradient(left, fuchsia, white, rgb(34, 153, 233));
  background: -moz-linear-gradient(left, fuchsia, white, rgb(34, 153, 233));
  background: -ms-linear-gradient(left, fuchsia, white, rgb(34, 153, 233));
}

.styledTextPotraBlack {
  text-align: center;
  font-family: Potra;
  font-size: 2rem;
  letter-spacing: 0.10rem;
  color: black;
  width: 100%;
  height: fit-content;
}

.marginThreeRem {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
