body,
html {
  /* text-rendering: The browser emphasizes legibility over rendering speed and geometric precision. This enables kerning and optional ligatures. */
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  width: 100% !important;
  height: 100% !important;
}

.docParent {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.imgResponsive {
    max-width: 100%;
    max-height: 100%;
}

/* ----------------------------------------------- */
/* header */

.centerWrapper {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerDarkBackground {
  background-color: black;
  padding-top: 5rem;
  padding-bottom: 5rem;
  grid-column: 1 / 4;
}

@font-face {
  font-family: cyberway riders;
  src: url(CyberwayRiders-lg97d.ttf);
}

.neon-text {
  font-family: cyberway riders;
  font-size: 4rem;
  letter-spacing: 0.50rem;
  /* text-transform: uppercase; */
  background: -webkit-linear-gradient(left, fuchsia, white, rgb(34, 153, 233));
  background: -moz-linear-gradient(left, fuchsia, white, rgb(34, 153, 233));
  background: -ms-linear-gradient(left, fuchsia, white, rgb(34, 153, 233));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* ------------------------------------------------------ */
/* nav */

.nav {
  background-color: white;
  color: #777;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul.nav li {
  display: inline-block;
  text-transform: uppercase;
  color: #777;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* ------------------------------------------------ */
/* left sidebar */

.leftSidebarDarkBackground {
  grid-column: 1 / 2;
  height: 40rem;
  width: 15rem;
  background-image: url(./img/pink-paint-back-left/pink-paint-spatter.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* ----------------------------------------------- */
/* main */

.mainDarkBackground {
  grid-column: 2 / 3;
  background-image: url(img/main-black-back/dark-brickback-2.jpg);
  background-size: cover;
}

/* ----------------------------------------------- */
/* right sidebar */

.rightSidebarDarkBackground {
  grid-column: 3 / 4;
  height: 40rem;
  width: 15rem;
  background-image: url(./img/blue-paint-back-right/blue-paint-spatter.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* ----------------------------------------------- */
/* footer */

.footererDarkBackground {
  height: 5rem;
  width: 100%;
  grid-column: 1 / 4;
}
